.banner__imagem {
    background: url('../../img/banner.jpg') no-repeat center / cover;/*propriedade possui um shorthand que nos permite evitar tal situação. Isso é feito usando apenas a propriedade background e passando para ela as propriedades desejadas*/
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__imagem {
        height: calc(100vh - 51px);/*porque definir 51px, porque no responsivo vai diminuir o tamanho do banner. Esse pouquinho maior usou o redefinir por 100% a nossa tela a imagem do banner*/
    }
}
@media screen and (min-width: 768px) {
    .banner__imagem {
        height: calc(100vh - 72px);
    }
}
