.pessoas {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

@media screen and (min-width: 0) {
    .pessoas {
        flex-direction: column;/*adicionando um flex-direction: column no media query de telas menores de modo que as autoras do site sejam listadas em uma coluna.*/
    }
}
@media screen and (min-width: 768px) {
    .pessoas {
        flex-direction: row;/*Para telas maiores, usaremos flex-direction: row, fazendo com que elas voltem a ser exibidas em lista.*/
    }
}