.sobre {
    text-align: center;
}

@media screen and (min-width: 0) {
    .sobre {
        padding: 2.5rem 1rem;/*2.5 em cima e embaixo e 1 rem dos lados*/
    }
}
@media screen and (min-width: 768px) {
    .sobre {
        padding: 2.5rem;
    }
}